@model Session
@{
    ViewData["Title"] = "Detalis";
    Layout = "layout-static";
}
@section Style{
    <link href="~/Themes/css/article.css" rel="stylesheet" />
  }
<!-- Start Content -->
<div class="container">
    <!-- <section class="left"></section> -->
    <section class="right">
       
        <!-- start box -->
        <article>
            <h1 style="font-weight:bold">@Model.Description</h1>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/b9pkXpKUUKc"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </article>
        <!-- end box -->
    </section>
</div>
<!-- End Content -->
