
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="~/ThemesHome/assets/css/popup.css" rel="stylesheet" type="text/css" />
</head>
<div>
    <div class="popup" id="popup">
        <img src="~/ThemesHome/assets/img/gallery/404-tick.png">
        <h2>Thank You! </h2>
        <p>your details has been successfull submitted </p>
        <button type="button" onclick="closepopup()">ok </button>
    </div>
</div>
<body>

    <script src="~/ThemesHome/assets/js/popup.js" theme="dark" position="bottom-right"></script>
</body>

</html>