@model Pharmacy
@{

}
@section Style{
    <!-- main css file -->
    <link rel="stylesheet" href="~/themes/css Files/pharmacy.css" />
}


<div class="container">
    <!-- <section class="left"></section> -->
    <a class="back-btn" id="cancel">
        <i class="f-icon fa-solid fa-arrow-left"></i>
        <!-- <i class="fa-solid fa-left-long"></i> -->
        <!-- <i class="fa-solid fa-chevron-left"></i> -->
    </a>
    <h1>@Model.Name</h1>
    <section class="content">
        <div class="upper-sec">
            <section class="image">
                <img src="~/Themes/Data/Images/pharmacy-image.jpg"
                     alt="pharmacy-profile-image" />
            </section>
            <section class="data">
                <div class="social-icon">
                    <h2>contact links</h2>
                    <div>
                        <div title="Facebook Page">
                            <a href="https://www.facebook.com/">
                                <i class="f-icon fa-brands fa-facebook-f"></i>
                            </a>
                        </div>
                        <div title="Instagram Page">
                            <a href="https://www.instagram.com/">
                                <i class="f-icon fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div title="Twitter Account">
                            <a href="https://www.twitter.com/">
                                <i class="f-icon fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div title="Mail">
                            <a href="mailto:@@mohagmail@gmail.com">
                                <i class="f-icon fa-solid fa-envelope"></i>
                            </a>
                        </div>
                        <div title="Whatsapp">
                            <a href="https://wa.me/552196312XXXX">
                                <i class="f-icon fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                        <div title="Phone Number">
                            <a href="tel:+18475555555">
                                <i class="f-icon fa-solid fa-phone"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <h2>contact info</h2>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-location-dot"></i>
                        </div>
                        <span>
                           @Model.Address
                        </span>
                    </div>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-envelope"></i>
                        </div>
                        <span class="mail">@Model.Email</span>
                    </div>
                    <div class="box">
                        <div class="icon-div">
                            <i class="f-icon fa-solid fa-phone"></i>
                        </div>
                        <span>@Model.MobileNumber</span>
                    </div>
                </div>
            </section>
        </div>
        <div class="medicines">
            <div class="head">
                <a class="more" asp-action="pharmacymedicines" asp-controller="pharmacies">see all</a>
                <h2>medicines</h2>
            </div>
            <form action="">

                <div class="cards">
                    <div class="box">
                        <input type="checkbox" name="test" id="opt1" />
                        <label class="card" for="opt1">
                            <div class="image">
                                <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                     alt="medicine-image" />
                            </div>
                            <div class="description">
                                <h2>test 1</h2>
                                <p>test paragraph</p>
                            </div>
                        </label>
                    </div>
                    <div class="box">
                        <input type="checkbox" name="test" id="opt2" />
                        <label class="card" for="opt2">
                            <div class="image">
                                <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                     alt="medicine-image" />
                            </div>
                            <div class="description">
                                <h2>test 1</h2>
                                <p>test paragraph</p>
                            </div>
                        </label>
                    </div>
                    <div class="box">
                        <input type="checkbox" name="test" id="opt3" />
                        <label class="card" for="opt3">
                            <div class="image">
                                <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                     alt="medicine-image" />
                            </div>
                            <div class="description">
                                <h2>test 1</h2>
                                <p>test paragraph</p>
                            </div>
                        </label>
                    </div>
                    <div class="box">
                        <input type="checkbox" name="test" id="opt7" />
                        <label class="card" for="opt7">
                            <div class="image">
                                <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                     alt="medicine-image" />
                            </div>
                            <div class="description">
                                <h2>test 1</h2>
                                <p>test paragraph</p>
                            </div>
                        </label>
                    </div>
                    <div class="box">
                        <input type="checkbox" name="test" id="opt8" />
                        <label class="card" for="opt8">
                            <div class="image">
                                <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                     alt="medicine-image" />
                            </div>
                            <div class="description">
                                <h2>test 1</h2>
                                <p>test paragraph</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="order-data">
                    <section>
                        <label for="date">order date:</label>
                        <div class="felid">
                            <input type="date" id="date" name="order date" />
                            <span></span>
                        </div>
                    </section>
                    <section>
                        <label for="count">cycle count:</label>
                        <div class="felid">
                            <input type="number"
                                   id="count"
                                   name="cycle count"
                                   min="1"
                                   max="30" />
                            <span></span>
                        </div>
                    </section>
                    <section>
                        <label for="time">time between cycles:</label>
                        <div class="felid">
                            <input type="number"
                                   id="time"
                                   name="time between cycles"
                                   min="0"
                                   placeholder="in days" />
                            <span></span>
                        </div>
                    </section>
                </div>
                <div class="btn">
                    <input type="submit" value="order" />
                </div>
            </form>
        </div>
        <div class="other">
            <div class="head">
                <h2>more pharmacies</h2>
            </div>
            <div class="other-slider swiper">
                <div class="slider-container cont">
                    <div class="slides swiper-wrapper">
                        <div class="slide swiper-slide">
                            <div class="slide-image">
                                <img src="~/Themes/Data/Images/IMG_20221204_221417_873.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="slide-body">
                                <h3>pharmacy name</h3>
                                <p>
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                </p>
                            </div>
                            <div class="slide-foot">
                                <a href="#">
                                    <span>read more</span>
                                    <i class="f-icon fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="slide swiper-slide">
                            <div class="slide-image">
                                <img src="~/Themes/Data/Images/IMG_20221204_221415_253.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="slide-body">
                                <h3>pharmacy name</h3>
                                <p>
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                </p>
                            </div>
                            <div class="slide-foot">
                                <a href="#">
                                    <span>read more</span>
                                    <i class="f-icon fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="slide swiper-slide">
                            <div class="slide-image">
                                <img src="~/Themes/Data/Images/radiation-places-image-4.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="slide-body">
                                <h3>pharmacy name</h3>
                                <p>
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                </p>
                            </div>
                            <div class="slide-foot">
                                <a href="#">
                                    <span>read more</span>
                                    <i class="f-icon fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="slide swiper-slide">
                            <div class="slide-image">
                                <img src="~/Themes/Data/Images/IMG_20221204_221443_145.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="slide-body">
                                <h3>pharmacy name</h3>
                                <p>
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                    pharmacy description Lorem ipsum dolor sit, amet
                                    consectetur adipisicing elit. Suscipit, eaque quaerat
                                    temporibus, atque odio quia non laborum earum facilis.
                                </p>
                            </div>
                            <div class="slide-foot">
                                <a href="#">
                                    <span>read more</span>
                                    <i class="f-icon fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
</div>
@section Script{

    <script src="~/themes/JS Files/charity.js"></script>
}