@{

}
@section Style{
    <!-- main css file -->
    <link rel="stylesheet" href="~/themes/css Files/pharmacy_medicines.css" />
}

<div class="container">
    <a class="back-btn" id="cancel">
        <i class="f-icon fa-solid fa-arrow-left"></i>
        <!-- <i class="fa-solid fa-left-long"></i> -->
        <!-- <i class="fa-solid fa-chevron-left"></i> -->
    </a>
    <div class="medicines">
        <div class="head">
            <h1>pharmacy - medicines</h1>
        </div>
        <form action="">
            <div class="cards">
                <div class="box">
                    <input type="checkbox" name="test" id="opt1" />
                    <label class="card" for="opt1">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt2" />
                    <label class="card" for="opt2">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt3" />
                    <label class="card" for="opt3">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt4" />
                    <label class="card" for="opt4">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt5" />
                    <label class="card" for="opt5">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt6" />
                    <label class="card" for="opt6">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt7" />
                    <label class="card" for="opt7">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt27" />
                    <label class="card" for="opt27">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt8" />
                    <label class="card" for="opt8">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt9" />
                    <label class="card" for="opt9">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt10" />
                    <label class="card" for="opt10">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt11" />
                    <label class="card" for="opt11">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt12" />
                    <label class="card" for="opt12">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt13" />
                    <label class="card" for="opt13">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt14" />
                    <label class="card" for="opt14">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt15" />
                    <label class="card" for="opt15">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt16" />
                    <label class="card" for="opt16">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt17" />
                    <label class="card" for="opt17">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
                <div class="box">
                    <input type="checkbox" name="test" id="opt18" />
                    <label class="card" for="opt18">
                        <div class="image">
                            <img src="~/Themes/Data/Images/medicines-slider-image-2.jpg"
                                 alt="medicine-image" />
                        </div>
                        <div class="description">
                            <h2>test 1</h2>
                            <p>test paragraph</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="sec-foot">
                <input type="button" id="more" value="see more" />
            </div>
            <div class="order-data">
                <section>
                    <label for="date">order date:</label>
                    <div class="felid">
                        <input type="date" id="date" name="order date" />
                        <span></span>
                    </div>
                </section>
                <section>
                    <label for="count">cycle count:</label>
                    <div class="felid">
                        <input type="number"
                               id="count"
                               name="cycle count"
                               min="1"
                               max="30" />
                        <span></span>
                    </div>
                </section>
                <section>
                    <label for="time">time between cycles:</label>
                    <div class="felid">
                        <input type="number"
                               id="time"
                               name="time between cycles"
                               min="0"
                               placeholder="in days" />
                        <span></span>
                    </div>
                </section>
            </div>
            <div class="btn">
                <input type="submit" value="order" />
            </div>
        </form>
    </div>
</div>
@section Script{

    <script src="~/themes/JS Files/pharmacy_medicines.js"></script>
}
