@model IEnumerable<Course>
@{
    Layout = "layout-static";
    ViewData["Title"] = "Sessions";
    int num = 1;

}
<div class="container p-3 ">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary "style="font-weight:bold ;font-size:40px" >Courses Sessions </h2>
        </div>
        <br />
        <br />
        <br />
    </div>

    <table class="table table-hover  " style="width:100% ">
        <thead>
            <tr>
                <th scope="col"> Num </th>
                <th scope="col"> Title </th>
                <th scope="col"> Appointment</th>
                <th scope="col">  Date </th>
                <th class="text-end"> Sessions </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-info">
                    <td width="10%">
                        @num
                    </td>
                    <td width="20%">
                        @item.Title
                    </td>
                    <td width="15%">
                        @item.Appointment
                    </td>
                    <td width="15%">
                        @item.CreatedAt.ToShortDateString()
                    </td>
                    <td class="text-end">
                        <a asp-action="Sessionlist" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-success opacity-90 btn-sm"><i class="bi bi-box-arrow-right"></i></a>   
                    </td>
                </tr>
                num++;
            }
        </tbody>
    </table>
</div>
