
@model Course
@{
    ViewData["Title"] = "Edit";
    Layout = "layout-static";
}
<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit The Course  </h2>
            <hr />
        </div>
       @* <div asp-validation-summary="All" style="color:brown"></div>*@
        <div class="mb-3">
           @*   <label  class="m-2" asp-for="Title"></label>*@
            <input asp-for="Title" class="form-control" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @*<label class="m-2" asp-for="Appointment"></label>*@
            <input asp-for="Appointment" class="form-control" placeholder="Appointment" />
            <span asp-validation-for="Appointment" class="text-danger"></span>
        </div>
        <div class="mb-3">
           @* <label class="m-2" asp-for="Details"></label>*@
            <input asp-for="Details" class="form-control" placeholder="Details" />
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @* <label class="m-2" asp-for="CreatedBy"></label>*@
            <input asp-for="Image" class="form-control" placeholder="Image Path" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
          @*  <label class="m-2" asp-for="CreatedAt"></label>*@
            <input asp-for="CreatedAt" class="form-control" placeholder="CreatedAt" />
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
        <div class="mb-3">
           @* <label class="m-2" asp-for="CreatedBy"></label>*@
            <input asp-for="CreatedBy" class="form-control" placeholder="CreatedBy" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-success" style="width:150px">Save</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To Courses</a>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

