@{
    ViewData["Title"] = "Error";
    Layout = "layout-static";
}

<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link  rel="stylesheet" href="~/Themes/css/errorpage.css"/>
<body class="loading">
    <h1>404</h1>
    @if (ViewBag.error != null)
    {
        <h2 class="m-4">@ViewBag.error</h2>
    }
    else
    {
        <h2>Unexpected Error</h2>
    }
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="~/Themes/js/errorpage.js" type="text/javascript"></script>
</body>
