@model IEnumerable<Course>
@{
    Layout = "layout-static";
    ViewData["Title"] = "Courses";

}
<div class="text-primary text-center" style="margin:20px;font-size:40px; font-weight: bold">
    List Of Courses
</div>
<div class="cards">
    @foreach (var item in Model)
    {
        <div class="card profile-card-3">
            <div class="background-block">
                <img src="~/Themes/img-course/0_ngXgBNNdx6iiWP8q.png" alt="profile-sample1" class="background" />
            </div>
            <div class="profile-thumb-block">
                <img src="@item.Image" alt="profile-image" class="profile" />
            </div>
            <div class="card-content">
                <h2>
                    @item.Title
                </h2><br>
                <a asp-action="index" asp-controller="Session" asp-route-id="@item.Id" class="btn btn-light opacity-90 m-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Sessions"><i class="bi bi-list"></i></a>
                <a asp-action="Details" class="btn btn-light opacity-90 btn-sm " asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="see more"><i class="bi bi-eye-fill"></i></a>

            </div>
        </div>
    }

</div>


