@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Style{
         <link href="~/themes/css files/log_in.css" rel="stylesheet" />
  }
          <main>
          <div class="container">
            <div class="card">
              <div class="left">
                <button class="back-btn" id="cancel">
                  <i class="f-icon fa-solid fa-arrow-left"></i>
                </button>
                <div class="head">
                    <h2>log in</h2>
                  <p>
                    to stay in touch with us, <br />
                    please log in to your account
                  </p>
                </div>
                    <form id="account" method="post">
                  <section>
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label for="Input_Email">Email:</label>
                    <div class="field">
                        <input style="text-transform:initial" type="text" asp-for="Input.Email" />
                            <label style="display:none" asp-for="Input.Email" ></label>
                        <span asp-validation-for="Input.Email" class="text-danger" ></span>
                      <span></span>
                      <i class="f-icon fa-solid fa-user"></i>
                    </div>
                  </section>
                  <section>
                            <label for="Input_Password">password:</label>
                    <div class="field">
                        <input class="input" asp-for="Input.Password" type="password" />
                        <label style="display:none" asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger" ></span>
                      <span></span>
                      <i class="f-icon fa-solid fa-lock"></i>
                    </div>
                       
                  </section>
                  <section>
                    <div class="left-sec">
                          <input type="checkbox" asp-for="Input.RememberMe" />
                          <label  asp-for="Input.RememberMe">remember me</label>
                    </div>
                      
                    <div class="right-sec">
                      <a href="./forget_pass.html">forget password</a>
                    </div>
                  </section>
                     <input id="login-submit" type="submit" value="Login" />
                </form>
                <div class="reg-link">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
                <hr />
                <div class="social-log">
                  <h3>log in with</h3>
                  <div class="links">
                    <a href="https://www.facebook.com/">
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="https://google.com/">
                      <i class="fa-brands fa-google"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="right">
                  <img src="~/Themes/intro.png" alt="intro img" />
            </div>
          </div>
        </main>

@section Scripts {
  @* <partial name="_ValidationScriptsPartial" />*@
  
}
