
@{
    ViewData["Title"] = "Access Denied";
    Layout = "layout-static";
}

<div>
    <h1 class="text-danger" style="font-size:50px">Access Denied</h1>
    <p class="text-danger" style="font-size:15px">You do not have access to this resource.</p>
</div>
