@model OnionArchitectureMVC.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";  
}
<head>
    <link href="~/Themes/css/register.css" rel="stylesheet" />
    <!-- bootstrap css file -->
    <link rel="stylesheet" href="~/Themes/Bootstrap/bootstrap.min (1).css" />
    <style>
body {
  background-image: url('~/wwwroot/Themes/assets/img/bg10.jpeg');
}
</style>
</head>
<body >
<section class="h-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center  h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <br />
                              
                                        <h3 class="text-uppercase " style="text-align:center">Student Registration Form</h3>
                                   
                                   @* <div asp-validation-summary="All" class="text-danger"></div>*@
                               <form method="post">  
                                   <div class="row">
                                     <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" asp-for="FirstName" class="form-control form-control-lg" placeholder="FristName" />
                                              <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                     </div>
                                     <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                             <input type="text" asp-for="LastName" class="form-control form-control-lg" placeholder="LastName" />
                                              <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                  </div>

                                  <div class="form-outline mb-4">
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                  </div>
                                   
                                  <div class="form-outline mb-4">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm Password" />
                                      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                  </div>
                                  
                                  <div class="form-outline mb-4">
                                        <input type="text" asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Phone Number" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>


                                     <select asp-for="CourseId" class=" form-control-lg form-select form-outline " asp-items="@ViewBag.CategoryList" style="font-size:large;color:dimgray ;font-weight: 500;">
                                      <option selected disabled>Choose Your Course</option>
                                    </select> 
                                    <span asp-validation-for="CourseId" class="text-danger"></span>
                                      
                                <div class="d-flex justify-content-end pt-5">
                                         <button type="reset" class="btn btn-secondary btn-lg" >Reset all</button>
                                    <button type="submit" class="btn btn-warning btn-lg ms-2">Register</button>
                                </div>
                               </form>
                                 
                                <div class="m-"> <p style="text-align: center; font-size:large;">Do You have an Account ? <a asp-controller="Account" asp-action="Login"> Login Now!</a></p> </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- bootstrap js file -->
    <script src="~/Themes/js/bootstrap.bundle.js"></script>
</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
