@model List<Hospital>
@section Style{
 <link href="~/themes/css files/hospitals.css" rel="stylesheet" />          
  }

      <section class="content">
        <div class="container">
          <div class="sec-head">
            <h2>hospitals</h2>
            <p>
                There are many specialized hospitals around the world for cancer treatment, which are characterized by
                providing specialized and comprehensive medical services for cancer patients, including diagnosis,
                treatment, and necessary care.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            <!-- start box -->
            @foreach(var item in Model)
            {
                <article class="box">
                    <div class="avatar">
                        <img src="~/Themes/Data/un-used-Images/IMG_20221204_221524_882.jpg"
                         alt="hospital-image" />
                    </div>
                    <div class="data">
                        <section class="head">
                            <h3>@item.Name</h3>
                            <span>Cancer Hospitals</span>
                            <p>
                               
                            </p>
                        </section>
                        <section class="info">
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </div>
                                <span>@item.Address</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </div>
                                <span>@item.MobileNumber</span>
                            </div>
                            <div class="field">
                                <div class="icon">
                                    <i class="f-icon fa-solid fa-envelope"></i>
                                </div>
                                <span class="mail">@item.Email</span>
                            </div>
                        </section>
                        <section class="contact">
                            <div>
                                <a href="https://www.facebook.com/">
                                    <i class="f-icon fa-brands fa-facebook-f"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.twitter.com/">
                                    <i class="f-icon fa-brands fa-twitter"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://maps.google.com/">
                                    <i class="f-icon fa-solid fa-location-dot"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://wa.me/552196312XXXX">
                                    <i class="f-icon fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div>
                                <a href="tel:+18475555555">
                                    <i class="f-icon fa-solid fa-phone"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                </article>
            }
            <!-- end box -->
          </div>
          <div class="sec-foot">
            <input type="button" id="more" value="see more" />
          </div>
        </div>
      </section>
      
@section Script{
    <script src="~/themes/js Files/pharmacies.js"></script>
  }