@{

}
@section Style{
        <!-- main css file -->
        <link rel="stylesheet" href="~/themes/css Files/notifications (2).css" />
}
<section class="content">
    <h2>messages</h2>
    <div class="container">
        <aside class="active" id="aside">
            <ul>
                <li >
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="image">
                            <img src="~/Themes/Data/Images/avatar-image-1.png"
                                 alt="user-image" />
                        </div>
                        <div class="data">
                            <span>user name</span>
                        </div>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="message" id="message">
            <button class="back-btn" id="backBtn">
                <i class="f-icon fa-solid fa-arrow-left"></i>
                <!-- <i class="fa-solid fa-left-long"></i> -->
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </button>
            <div class="order-info">
                <article class="cycle">
                    <span>remaining cycles</span>
                    <span>3</span>
                </article>
                <article class="time-dif">
                    <span>days between cycles</span>
                    <span>15</span>
                </article>
                <article class="status">
                    <span>order status</span>
                    <span>pending</span>
                </article>
            </div>
            <div class="order-content">
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
                <!-- start box -->
                <article class="box">
                    <div class="image">
                        <img src="~/Themes/Data/Images/medicine.jpg" alt="medicine-image" />
                    </div>
                    <div class="info">
                        <span>medicine name</span>
                        <span>category</span>
                    </div>
                </article>
                <!-- end box -->
            </div>
            <div class="user-info">
                <div class="box">
                    <span>name: </span>
                    <span>user name</span>
                </div>
                <div class="box">
                    <span>phone: </span>
                    <span>user phone number</span>
                </div>
                <div class="box">
                    <span>address: </span>
                    <span>user address</span>
                </div>
                <div class="box">
                    <span>email: </span>
                    <span>user email address</span>
                </div>
            </div>
        </div>
    </div>
</section>
@section Script{

    <script src="~/themes/JS Files/notifications.js"></script>
}