@model IEnumerable<Drugs>
@{
    ViewData["Title"] = "Medicine";
    Layout = "dashboard";
    int num= 1;
}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/dashboard_control (1).css" />
}

<div class="medicines">
    <div class="sec-head">
        <h2>medicines</h2>
    </div>
    <div class="sec-body">
        <article class="info">
            <div class="modify">
                <h3>add a new item</h3>
                <a asp-action="Medicine" asp-controller="Admin">
                    <i class="f-icon fa-solid fa-circle-plus"></i>
                </a>
            </div>
            <div class="items-num">
                <h3>number of item</h3>
                <span>@Model.Count()</span>
            </div>
        </article>
        <article class="control">
            <div class="table">
                <div class="tab-head">
                    <span>no.</span>
                    <span>name</span>
                    <span>Type Of Cancer</span>
                    <span>actions</span>
                </div>
                <div class="tab-body">

                    @foreach (var item in Model)
                    {

                        <!-- Start Item -->
                        <div class="item">
                            <span>@num</span>
                            <span>@item.Name</span>
                          
                            <span>
                                <a href="../modify-pages/modify_doctor.html" class="edit">
                                    <i class="f-icon fa-solid fa-pencil"></i>
                                    <!-- edit -->
                                </a>
                                <a class="seeMore">
                                    <i class="f-icon fa-solid fa-eye"></i>
                                    <!-- see more -->
                                </a>
                                <a class="remove">
                                    <i class="f-icon fa-solid fa-trash-can"></i>
                                    <!-- remove -->
                                </a>
                            </span>
                        </div>

                        num += 1;
                        <!-- End Item -->
                    }

                </div>
            </div>
        </article>
    </div>
</div>