@model MedicineViewModel
@{

}
@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/modify_medicine.css" />
}
<section class="content">
    <div class="container">
        <div class="sec-head">
            <h1>modify medicine</h1>
            <button class="back-btn" id="cancel">
                <i class="f-icon fa-solid fa-arrow-left"></i>
                <!-- <i class="fa-solid fa-left-long"></i> -->
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </button>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
              consequatur ullam excepturi dolores repellat, minus assumenda
              exercitationem.
            </p>
            <div class="head-shape">
              <span></span>
            </div> -->
        </div>
        <div class="sec-body">
            <form id="form" method="post">
                <div class="sec-flex">
                    <section class="info">
                        <h2>medicine information</h2>
                        <div id="title-div">
                            <input type="text"
                                   asp-for="Name"
                                   placeholder="name" />
                            <span id="title-error"></span>
                        </div>
                        <div id="author-div">
                            <input type="text"
                                   asp-for="TypeOfCancer"
                                   placeholder="category" />
                            <span id="author-error"></span>
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   placeholder="available pharmacies" />
                        </div>
                    </section>
                    <section class="image">
                        <h2>upload medicine image</h2>
                        <!-- Start user image upload and preview -->
                        <section class="avatar-upload">
                            <div class="avatar-edit">
                                <input type="file"
                                       id="imageUpload"
                                       accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div>
                                    <img id="imagePreview"
                                         src="~/Themes/Data/Images/medicine.jpg"
                                         alt="profile-image" />
                                </div>
                            </div>
                        </section>
                        <!-- End user image upload and preview -->
                    </section>
                </div>
                <div id="body-div">
                    <h2>addition information</h2>
                    <textarea id="body"
                              name="more-info"
                              placeholder="more information about medicine"></textarea>
                    <span id="body-error"></span>
                </div>
                <input type="submit" id="submit" value="modify" />
            </form>
        </div>
    </div>
</section>
<script src="~/Admin/Js_files/image_review.js"></script>
<script src="~/Admin/Js_files/modify_article (1).js"></script>