@{
    Layout = "PharmacyAction";
}
@section Style{
    <!-- main css file -->
    <link rel="stylesheet" href="~/themes/css Files/profile_articles.css" />
}


<!-- start content section -->
<div class="content">
    <section class="sec-body">
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
        <!-- start article -->
        <article class="box">
            <div class="image">
                <img src="~/Themes/Data/Images/pexels-pavel-danilyuk-8442105.jpg"
                     alt="article-image" />
            </div>
            <div class="text">
                <a href="#">
                    <h3>article title</h3>
                </a>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
                    impedit laboriosam enim facilis.
                </p>
                <div class="info">
                    <span>author: </span>
                    <span class="input" id="input">john doe</span>
                </div>
            </div>
        </article>
        <!-- end article -->
    </section>
    <div class="sec-foot">
        <input type="button" id="more" value="see more" />
    </div>
</div>
<!-- end content section -->
@section Script{

    <script src="~/themes/JS Files/profile_articles.js"></script>
}