@model List<Drugs>
@{
    Layout = "Medicine";
}
<div class="right-side">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="image">
                <img class="card-img-top"
                 src="~/Themes/Data/Images/medicine.jpg" />
            </div>
            <div class="card-body">
                <div class="med-details card-text text-center">
                    <h5>@item.Name</h5>
                    <span>@item.TypeOfCancer</span>
                </div>
                <div class="pharmacies">
                    <a class="btn btn-primary"
                   href="~/Themes/HTML Files/pharmacy.html">
                        pharmacy
                    </a>
                </div>
            </div>
        </div>
    }


</div>
