@model CharityViewModel
@{
    ViewData["Title"] = "Modify Charities";
    Layout = "_Layout";
}
@section  Style{
    <link rel="stylesheet" href="~/Admin/Css_files/modify_charity.css" />
}


<section class="content">
    <div class="container">
        <div class="sec-head">
            <h1>modify Charity</h1>
            <button class="back-btn" id="cancel">
                <i class="f-icon fa-solid fa-arrow-left"></i>
                <!-- <i class="fa-solid fa-left-long"></i> -->
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </button>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
              consequatur ullam excepturi dolores repellat, minus assumenda
              exercitationem.
            </p>
            <div class="head-shape">
              <span></span>
            </div> -->
        </div>
        <div class="sec-body">
            <form id="form" method="post" id="form">
                <div class="sec-flex">
                    <section class="info">
                        <h2>charity information</h2>
                        <div id="title-div">
                            <input type="text" asp-for="Name" placeholder="name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input type="text"asp-for="Location" placeholder="location" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input type="text" asp-for="Email" placeholder="e-mail address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input type="text" asp-for="PhoneNumber" placeholder="phone number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </section>
                    <section class="image">
                        <h2>charity image</h2>
                        <!-- Start user image upload and preview -->
                        <section class="avatar-upload">
                            <div class="avatar-edit">
                                <input type="file"
                                       id="imageUpload"
                                       accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div>
                                    <img id="imagePreview"
                                         src="~/Themes/Data/Images/IMG_20221204_221443_587.jpg"
                                         alt="profile-image" />
                                </div>
                            </div>
                        </section>
                        <!-- End user image upload and preview -->
                    </section>
                </div>
                <div id="body-div">
                    <h2>addition information</h2>
                    <textarea 
                               asp-for="AdditionalInfo" placeholder="more information about charity"></textarea>
                    <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                </div>
                <div class="social" id="social-div">
                    <h2>social media links</h2>
                    <div class="inputs">
                        <div id="link-div">
                            <input type="text" asp-for="FB_Link" placeholder="facebook link" />
                            <span asp-validation-for="FB_Link" class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="instagram-link"
                                   placeholder="instagram link" />
                        </div>
                        <div id="link-div">
                            <input type="text" asp-for="TW_Link" placeholder="twitter link" />
                            <span asp-validation-for="TW_Link" class="text-danger"></span>

                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="mail-address"
                                   placeholder="mail address" />
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="whatsapp-number"
                                   placeholder="whatsapp number" />
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="phone-number"
                                   placeholder="phone number" />
                        </div>
                    </div>
                </div>
                <div class="images">
                    <h2>events images</h2>
                    <div class="multiple-uploader" id="multiple-uploader">
                        <div class="mup-msg">
                            <span class="mup-main-msg">click to upload images</span>
                            <span class="mup-msg" id="max-upload-number">Upload up to 10 images</span>
                            <span class="mup-msg">
                                Only images, pdf and psd files are allowed for
                                upload
                            </span>
                        </div>
                    </div>
                </div>
                <input type="submit" id="submit" value="modify" />
            </form>
        </div>
    </div>
</section>
<script src="~/Admin/Js_files/modify_article.js"></script>
<script src="~/Admin/Js_files/image_review.js"></script>
<script src="~/Admin/Js_files/modify_charity.js"></script>
<script src="~/Admin/Js_files/multiple-uploader.js"></script>
<script>
    let multipleUploader = new MultipleUploader("#multiple-uploader").init({
        maxUpload: 20, // maximum number of uploaded images
        maxSize: 2, // in size in mb
        filesInpName: "images", // input name sent to backend
        formSelector: "#form", // form selector
    });
</script>