@model DoctorViewModel
@{
    ViewData["Title"] = "Modify Doctor";
    Layout = "_Layout";
}
@section  Style{
    <link rel="stylesheet" href="~/Admin/Css_files/modify_doctor (1).css" />
}
<section class="content">
    <div class="container">
        <div class="sec-head">
            <h1>modify doctor</h1>
            <button class="back-btn" id="cancel">
                <i class="f-icon fa-solid fa-arrow-left"></i>
                <!-- <i class="fa-solid fa-left-long"></i> -->
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </button>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
              consequatur ullam excepturi dolores repellat, minus assumenda
              exercitationem.
            </p>
            <div class="head-shape">
              <span></span>
            </div> -->
        </div>
        <div class="sec-body">
            <form method="post">
                <div class="sec-flex">
                    <section class="info">
                        <h2>doctor information</h2>
                        <div id="title-div">
                            <input asp-for="Name" placeholder="name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div id="author-div">
                            <input asp-for="Specialty" placeholder="specialty" />
                            <span asp-validation-for="Specialty" class="text-danger"></span>
                        </div>

                        <div id="link-div">
                            <input asp-for="Address" placeholder="location" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div id="link-div">
                            <input asp-for="Email" placeholder="e-mail address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div id="link-div">
                            <input type="text" asp-for="MobileNumber" placeholder="phone number" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </section>
                    <section class="image">
                        <h2>upload doctor image</h2>
                        <!-- Start user image upload and preview -->
                        <section class="avatar-upload">
                            <div class="avatar-edit">
                                <input type="file"
                                       id="imageUpload"
                                       accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div>
                                    <img id="imagePreview"
                                         src="~/Themes/Data/Images/avatar-image-1.png"
                                         alt="profile-image" />
                                </div>
                            </div>
                        </section>
                        <!-- End user image upload and preview -->
                    </section>
                </div>
                <div id="body-div">
                    <h2>addition information</h2>
                    <textarea asp-for="MoreInformation" placeholder="more information about doctor"></textarea>
                    <span asp-validation-for="MoreInformation" class="text-danger"></span>
                </div>
                <div class="social" id="social-div">
                    <h2>social media links</h2>
                    <div class="inputs">
                        <div id="link-div">
                            <input asp-for="FB_Link" placeholder="facebook link" />
                            <span asp-validation-for="FB_Link" class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input placeholder="instagram link" />
                            <span class="text-danger"></span>
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="twitter-link"
                                   placeholder="twitter link" />
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="mail-address"
                                   placeholder="mail address" />
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="whatsapp-number"
                                   placeholder="whatsapp number" />
                        </div>
                        <div id="link-div">
                            <input type="text"
                                   id=""
                                   name="phone-number"
                                   placeholder="phone number" />
                        </div>
                    </div>
                </div>
                <input type="submit" id="submit" value="modify"  />
            </form>
        </div>
    </div>
</section>
<script src="~/Admin/Js_files/image_review.js"></script>
<script src="~/Admin/Js_files/modify_article.js"></script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}