@model AwarenessViewModel
@{
    ViewData["Title"] = "Modify Article";
    Layout = "_Layout";
}
@section  Style{
    <link rel="stylesheet" href="~/Admin/Css_files/modify_article (3).css" />
    <link rel="stylesheet" href="~/Themes/CSS Files/tiny.css" />
}

<section class="content">
    <div class="container">
        <div class="sec-head">
            <h1>modify article</h1>
            <button class="back-btn" id="cancel">
                <i class="f-icon fa-solid fa-arrow-left"></i>
                <!-- <i class="fa-solid fa-left-long"></i> -->
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </button>
            <!-- <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
              consequatur ullam excepturi dolores repellat, minus assumenda
              exercitationem.
            </p>
            <div class="head-shape">
              <span></span>
            </div> -->
        </div>
        <div class="sec-body">
            <form id="form" method="post">
                <div class="sec-flex">
                    <section class="info">
                        <h2>article information</h2>
                        <div id="title-div">
                            <input type="text" asp-for="Title" placeholder="title" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div id="title-div">
                            <input type="text" asp-for="Category" placeholder="category" />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div id="author-div">
                            <input type="text" asp-for="Author" placeholder="Author" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div id="author-div">
                            <input type="text" asp-for="PublishedDate" placeholder="Published Date" />
                            <span asp-validation-for="PublishedDate" class="text-danger"></span>
                        </div>
                        <div id="video-div">
                            <input type="text" asp-for="VideoLink" placeholder="Video Link (If It Found)" />
                            <span asp-validation-for="VideoLink" class="text-danger"></span>
                        </div>
                    </section>
                    <section class="image">
                        <h2>article image</h2>
                        <!-- Start user image upload and preview -->
                        <section class="avatar-upload">
                            <div class="avatar-edit">
                                <input type="file"
                                       id="imageUpload"
                                       accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div>
                                    <img id="imagePreview"
                                         src="~/Themes/Data/Images/IMG_20221204_221443_587.jpg"
                                         alt="profile-image" />
                                </div>
                            </div>
                        </section>
                        <!-- End user image upload and preview -->
                    </section>
                </div>
                <div id="body-div">
                    <!-- <textarea
                      id="article"
                      cols="30"
                      rows="10"
                      name="article-content"
                      placeholder="write article content here"
                    ></textarea> -->
                    <h2>article body</h2>
                    <textarea asp-for="Data"
                              placeholder="write article body here"></textarea>
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <input type="submit" id="submit" value="modify" />
            </form>
        </div>
    </div>
</section>
<!-- tiny editor script -->
<script src="~/Admin/tinymce/tinymce.min.js"></script>
<!-- main script -->
<script src="~/Themes/JS Files/tiny_editor.js"></script>
<script src="~/Admin/Js_files/modify_article.js"></script>
<script src="~/Admin/Js_files/image_review.js"></script>
