<!-- Start Landing -->
<section class="landing" id="landing">
        <div class="container">
          <div class="down-btn">
            <a href="#services">
              <i class="fa-solid fa-angles-down"></i>
            </a>
          </div>
          <div class="left">
            <h2>welcome to hope</h2>
            <p>
                The cancer patient always has hope, the most important thing, and all those around him at any time, including his family, friends, neighbors, or even his doctor, must also cling to this hope before him, so that they can pass it on to cancer fighters.
                Through Hope, we will help you find the best doctors in all specialties of cancer diseases, search for the type of medicine that the doctor prescribed for you, we will help you reach the best available places for atomic radiation, and we will also introduce you to 
                 charitable institutions that can help you financially and also provide you with rare medicines.
            </p>
          </div>
          <div class="right">
            <img src="~/themes/Data/Images/landing-image-2.png" alt="Landing-Image" />
          </div>
        </div>
      </section>
<!-- End Landing -->
<!-- Start Services -->
<section class="section services" id="services">
        <div class="container">
          <div class="sec-head">
            <h2>our services</h2>
            <p>
                Hope is an online website that provides various services such as doctors, medications, hospitals, pharmacies, and charities.
            </p>
            <div class="head-shape">
              <span></span>
            </div>
          </div>
          <div class="sec-body">
            <!-- Start Box -->
            <article class="box">
              <a href="#doctors">
                <i class="f-icon fa-solid fa-user-doctor"></i>
                <h3>doctors</h3>
                <p>
                  Specialized doctors in the treatment of cancer are the individuals who possess the necessary experience 
                  and skills to diagnose the disease and determine the best treatment options for patients affected by it.
                  Doctors who treat cancer vary in their specialties, some specialize in treating specific types of cancer 
                  such as breast or lung cancer, while others treat cancer in general
                </p>
              </a>
            </article>
            <!-- End Box -->
            <!-- Start Box -->
            <article class="box">
              <a href="#medicine">
                <i class="f-icon fa-solid fa-pills"></i>
                <h3>medicines</h3>
                <p>
                  Medications are chemical substances used to treat various diseases and medical conditions. 
                  Medications come in different forms, including tablets, capsules, injections, and more.
                </p>
              </a>
            </article>
            <!-- End Box -->
            <!-- Start Box -->
            <article class="box">
              <a href="#hospitals">
                <i class="f-icon fa-solid fa-hospital"></i>
                <h3>hospitals</h3>
                <p>
                        There are many specialized hospitals around the world for cancer treatment, which are characterized by providing specialized and comprehensive medical services for cancer patients, including diagnosis, treatment, and necessary care.

                        These hospitals include many modern techniques used in cancer treatment, such as radiation therapy, chemotherapy, molecular therapy, hormonal therapy, immunology therapy, and others.
                  </p>
              </a>
            </article>
            <!-- End Box -->
            <!-- Start Box -->
            <article class="box">
              <a href="#pharmacies">
                <i class="f-icon fa-solid fa-house-medical"></i>
                <h3>pharmacies</h3>
                <p>
                        Pharmacies are retail stores that sell medicines, pharmaceutical products, 
                        and other medical products to the public. Pharmacies are considered important 
                        centers for healthcare in society, where people can obtain the medicines,
                        pharmaceutical products, and other health products they need to improve
                        their health and treat illnesses
                </p>
              </a>
            </article>
            <!-- End Box -->
            <!-- Start Box -->
            <article class="box">
              <a href="#blog">
                <!-- <i class="f-icon fa-solid fa-newspaper"></i> -->
                <i class="f-icon fa-solid fa-book-open-reader"></i>
                <h3>blog</h3>
                <p>
                        "Medical articles are articles related to medicine and health, published in many magazines, newspapers, and 
                        specialized health websites. These articles aim to provide accurate and reliable medical information to the public,
                        updating them on medical innovations, new treatments, and current research in the field of medicine.

                    </p>
              </a>
            </article>
            <!-- End Box -->
            <!-- Start Box -->
            <article class="box">
              <a href="#charities">
                <i class="f-icon fa-solid fa-hand-holding-heart"></i>
                <h3>charities</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit,
                  Blanditiis accusantium. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit, Blanditiis accusantium.
                </p>
              </a>
            </article>
            <!-- End Box -->
          </div>
        </div>
      </section>
<!-- End Services -->