@section Style{
    <!-- main css file -->
    <link rel="stylesheet" href="~/themes/css Files/cart.css" />
}


    <section class="content">
        <div class="container">
            <h1>cart</h1>
            <form action="">
                <!-- start order -->
                <div class="order">
                    <h2>order 1</h2>
                    <!-- start order info -->
                    <div class="order-info">
                        <h3>order info</h3>
                        <div class="content">
                            <div class="image">
                                <img src="~/Themes/Data/Images/pharmacy.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="grid">
                                <article class="name">
                                    <span>pharmacy name</span>
                                    <span>el-ezaby</span>
                                </article>
                                <article class="cycle">
                                    <span>remaining cycles</span>
                                    <span>3</span>
                                </article>
                                <article class="time-dif">
                                    <span>days between cycles</span>
                                    <span>15</span>
                                </article>
                                <article class="status">
                                    <span>order status</span>
                                    <span>running</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!-- start order info -->
                    <!-- start order content -->
                    <div class="order-cont">
                        <h3>order content</h3>
                        <div class="content">
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                        </div>
                    </div>
                    <!-- start order content -->
                </div>
                <!-- end order -->
                <!-- start order -->
                <div class="order">
                    <h2>order 2</h2>
                    <!-- start order info -->
                    <div class="order-info">
                        <h3>order info</h3>
                        <div class="content">
                            <div class="image">
                                <img src="~/Themes/Data/Images/pharmacy.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="grid">
                                <article class="name">
                                    <span>pharmacy name</span>
                                    <span>el-ezaby</span>
                                </article>
                                <article class="cycle">
                                    <span>remaining cycles</span>
                                    <span>3</span>
                                </article>
                                <article class="time-dif">
                                    <span>days between cycles</span>
                                    <span>15</span>
                                </article>
                                <article class="status">
                                    <span>order status</span>
                                    <span>running</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!-- start order info -->
                    <!-- start order content -->
                    <div class="order-cont">
                        <h3>order content</h3>
                        <div class="content">
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                        </div>
                    </div>
                    <!-- start order content -->
                </div>
                <!-- end order -->
                <!-- start order -->
                <div class="order">
                    <h2>order 3</h2>
                    <!-- start order info -->
                    <div class="order-info">
                        <h3>order info</h3>
                        <div class="content">
                            <div class="image">
                                <img src="~/Themes/Data/Images/pharmacy.jpg"
                                     alt="pharmacy-image" />
                            </div>
                            <div class="grid">
                                <article class="name">
                                    <span>pharmacy name</span>
                                    <span>el-ezaby</span>
                                </article>
                                <article class="cycle">
                                    <span>remaining cycles</span>
                                    <span>3</span>
                                </article>
                                <article class="time-dif">
                                    <span>days between cycles</span>
                                    <span>15</span>
                                </article>
                                <article class="status">
                                    <span>order status</span>
                                    <span>running</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!-- start order info -->
                    <!-- start order content -->
                    <div class="order-cont">
                        <h3>order content</h3>
                        <div class="content">
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                            <!-- start box -->
                            <article class="box">
                                <div class="image">
                                    <img src="~/Themes/Data/Images/medicine.jpg"
                                         alt="medicine-image" />
                                </div>
                                <div class="info">
                                    <span>medicine name</span>
                                    <span>category</span>
                                </div>
                            </article>
                            <!-- end box -->
                        </div>
                    </div>
                    <!-- start order content -->
                </div>
                <!-- end order -->
                <div class="sec-foot">
                    <input type="submit" value="confirm" />
                </div>
            </form>
        </div>
    </section>
   
