@model UserProfileUpdateViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_Layout";
}


@section Style{
    <link rel="stylesheet" href="~/Themes/CSS Files/edit_profile (1).css" />
}

<section class="head">
    <h1>edit profile</h1>
</section>
<section class="content">
    <div class="container">
        <button class="back-btn" id="cancel">
            <i class="f-icon fa-solid fa-arrow-left"></i>
            <!-- <i class="fa-solid fa-left-long"></i> -->
            <!-- <i class="fa-solid fa-chevron-left"></i> -->
        </button>
        <form method="post">
            <div class="top-sec">
                <div class="left">
                    <!-- Start user image upload and preview -->
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file"
                                   id="imageUpload"
                                   accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div>
                                <img id="imagePreview"
                                     src="~/Themes/Data/Images/avatar-image-1.png"
                                     alt="profile-image" />
                            </div>
                        </div>
                    </div>
                    <!-- End user image upload and preview -->
                    <div class="text">
                        <h2>account name</h2>
                        <span>@ViewBag.username</span>
                    </div>
                </div>
                <div class="right">
                    <section class="name">
                        <label>full name:</label>
                        <div class="data">
                            <div class="f-name">
                                <label for="field">first name:</label>
                                <div class="field">
                                    <input class="input"
                                           asp-for="FirstName"
                                           placeholder="First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                    <i class="f-icon fa-solid fa-user"></i>
                                </div>
                            </div>
                            <div class="l-name">
                                <label for="field">last name:</label>
                                <div class="field">
                                    <input class="input"
                                           asp-for="LastName" placeholder="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                    <i class="f-icon fa-solid fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="e-mail">
                        <label for="field">e-mail:</label>
                        <div class="field">
                            <input class="input"asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <i class="f-icon fa-regular fa-envelope"></i>
                        </div>
                    </section>
                    <section class="password">
                        <label for="field">old password:</label>
                        <div class="field">
                            <input class="input"
                                   asp-for="OldPassword" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                            <i class="f-icon fa-solid fa-lock"></i>
                        </div>
                    </section>
                    <section class="password">
                        <label for="field">new password:</label>
                        <div class="field">
                            <input class="input"
                                   asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <i class="f-icon fa-solid fa-lock"></i>
                        </div>
                    </section>
                    <section class="password">
                        <label for="field">confirm new password:</label>
                        <div class="field">
                            <input class="input"
                                   asp-for="ConfirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            <i class="f-icon fa-solid fa-lock"></i>
                        </div>
                    </section>
                    <section class="phone">
                        <label for="field">phone number:</label>
                        <div class="field">
                            <input class="input"
                                   asp-for="phoneNumber" />
                            <span asp-validation-for="phoneNumber" class="text-danger"></span>
                            <i class="f-icon fa-solid fa-phone"></i>
                        </div>
                    </section>
                    <section class="gender">
                        <label for="gender">gender:</label>
                        <div class="sec-flex" id="gender">
                            <p>please choose your gender:</p>
                            <p>your gender:</p>
                            <div class="choices">
                                <div class="choice">
                                    <input type="radio" asp-for="Gender" value="Male" />
                                    <label for="male">
                                        <!-- <i class="fa-solid fa-mars"></i> -->
                                        male
                                    </label>
                                </div>
                                <div class="choice">
                                    <input type="radio" asp-for="Gender" value="Female" />
                                    <label for="female">
                                        <!-- <i class="fa-solid fa-venus"></i> -->
                                        female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="caner-type">
                        <label for="cancer">cancer type:</label>
                        <div class="cancer">
                            <select name="cancer" id="cancer"></select>
                        </div>
                    </section>
                    <section class="birth-date">
                        <div class="sec-flex">
                            <label>date of birth:</label>
                            <input type="date" name="birth date" />
                        </div>
                    </section>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Confirm" />
            </div>
        </form>
    </div>
</section>
<script src="~/Themes/JS Files/register.js"></script>
<script src="~/Themes/JS Files/edit_profile.js"></script>
<script src="~/Themes/JS Files/cancer-types.js"></script>